@font-face {
    font-family: 'CarbonPlusRegular';
    src: url('/_assets/fonts/carbonplus-regular-bl.otf') format('opentype'),
         url('/_assets/fonts/CarbonPlusRegular.woff') format('woff'),
         url('/_assets/fonts/CarbonPlusRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CarbonPlusRegular', Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'CarbonPlusRegular', Arial, sans-serif;
  }